body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h3{
    font-weight: 400;
    font-size: medium;
}
.top-section{
    display: flex;
    margin: 5%;
}
.top-banner{
    width: 50%;
    color: gray;
}
.top-banner img{
    width: 75%;
    padding-top: 2%;
    padding-left: 27%;
}
.name{
    color:orange;
}
.button1{
    color: white;
    background-image: linear-gradient(90deg,#FB964B,#FC703D,#e44121);
    text-decoration: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 400;
    padding: 17px 40px;
    margin-top: 30px;
    display: inline-block;

}
.text